<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<title>Chat Room</title>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>

	<!-- <div id="open-chat-form-div" class="row clearfix">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-3 column">
			<form id="open-chat-form" role="form">
				<div class="form-group">
					<h3 for="name">What's your name?</h3>
					<input type="text" class="form-control" id="name" value="Karen"/>
				</div>
				<div class="checkbox">
					<h3><input type="checkbox" />Other user has face-display controls as well.</h3>
				</div> 
				<button type="submit" class="btn btn-default">Open chat room.</button>
			</form>
		</div>
		<div class="col-md-3 column">
		</div>
		<div class="col-md-3 column">
		</div>
	</div> -->

	<div id="invite-to-chat-form-div" class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-4 column">
			<form id="open-chat-form" role="form">
				<div class="form-group">
					<h3 for="name">Invite people to chat by sending them this URL.</h3>
					<a href="">`URL`</a>
				</div>
			</form>
		</div>
		<div class="col-md-4 column">
		</div>
		<div class="col-md-2 column">
		</div>
	</div>

	<!-- <div id="join-chat-form-div" class="row clearfix">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-3 column">
			<form id="join-chat-form" role="form">
				<div class="form-group">
					<label for="name">What's your name?</label>
					<input type="text" class="form-control" id="name" value="Karen"/>
				</div>
				<button type="submit" class="btn btn-default">Chat with `HOST`</button>
			</form>
		</div>
		<div class="col-md-3 column">
		</div>
		<div class="col-md-3 column">
		</div>
	</div> -->

	<div style="width: 50%; float: left">

		<!-- These elements are displayed as white info cards in the middle of the screen -->

		<div class="connected">
			<h2>What is your name?</h2>
			<br/>
			<form class="loginForm">
				<input type="text" id="yourName" value="Karen" />
				<br />
				<input type="submit" id="yourEnter" value="ENTER" />
				<br />
				<input type="checkbox" value="None" id="otherUserControl" name="check" />
				<label id="otherUserControlLabel">Other use has face-display controls as well.</label>
			</form>
		</div>

		<div class="personinside">
			<h2>Chat with <span class="nickname-chat"></span></h2>
			<br/>
			<form class="loginForm">
				<input type="text" id="hisName" placeholder="Your nick name" />
				<br/>
				<input type="submit" id="hisEnter" value="CHAT" />
				<br/>
			</form>
		</div>

		<div class="invite-textfield">

			<h2>Oops, there are no other people in this chat!</h2>
			<h5>Invite a friend by sending them this URL</h5>

			<div class="link">
				<a title="Invite a friend" href="" id="link"></a>
			</div>
		</div>

		<div class="left">

			<img src="../img/unnamed.jpg" id="leftImage" />

			<div class="info">
				<h2><span class="nickname-left"></span> has left this chat.</h2>
				<h5>Invite somebody else by sending them this page.</h5>
			</div>
		</div>

		<div class="toomanypeople">

			<h2>Oops, you can not join this chat!</h2>
			<h5>There are already two people in it. Would you like to create a <a title="New Room" href="/create" id="room">new room</a>?</h5>
		</div>

		<div class="nomessages">

			<img src="../img/unnamed.jpg" id="noMessagesImage" />

			<div class="info">
				<h2>You are chatting with <span class="nickname-chat"></span>.</h2>
				<h5>Send them a message from the form below!</h5>
			</div>
		</div>

		<div class="chatscreen">
			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>
		</div>

	</div>

	<div class="face-images" style="width: 50%; float: right; text-align: center;" hidden>
		<div id="hostFace">
			<h2 id="host_title"></h2>
			<img class="host_image" id="host_image_1" src="../img/1.jpg">
			<img class="host_image" id="host_image_2" src="../img/2.jpg" hidden>
			<img class="host_image" id="host_image_3" src="../img/3.jpg" hidden>
			<img class="host_image" id="host_image_4" src="../img/4.jpg" hidden>
			<img class="host_image" id="host_image_5" src="../img/5.jpg" hidden>
			<img class="host_image" id="host_image_6" src="../img/6.jpg" hidden>
		</div>

		<div id="clientFace" hidden>
			<h2 id="client_title"></h2>
			<img class="client_image" id="client_image_1" src="../img/1.jpg">
			<img class="client_image" id="client_image_2" src="../img/2.jpg" hidden>
			<img class="client_image" id="client_image_3" src="../img/3.jpg" hidden>
			<img class="client_image" id="client_image_4" src="../img/4.jpg" hidden>
			<img class="client_image" id="client_image_5" src="../img/5.jpg" hidden>
			<img class="client_image" id="client_image_6" src="../img/6.jpg" hidden>
		</div>
	</div>

	<footer>

		<div class="row clearfix">
			<div class="col-md-1 column">
			</div>
			<div class="col-md-5 column">
				<form role="form" class="form-inline">
					<div class="row">
						<div class="col-xs-9">
							<input type="text" class="form-control">
						</div>
						<div class="col-xs-3">
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-5 column">
			</div>
			<div class="col-md-1 column">
			</div>
		</div>

	</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>
