<!DOCTYPE html>

<html>

<head>
	<title>Chat Room</title>
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>

<body>
	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">create a new private</div>
					<div id="big">CHAT ROOM</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
